REELTUG_API_HOST=http://10.0.0.49:9797/api
REELTUG_API_USERNAME=
REELTUG_API_PASSWORD=
REELTUG_API_TIMEOUT_SECONDS=20
REELTUG_QUEUE_FETCH_TIMEOUT_SECONDS=120

REELTUG_ORDER_FLOW_IP=http://10.0.0.54:8547
REELTUG_API_REFRESH_TIME=60
REELTUG_TRANSFERRING_DIRECTORY=\\Tapebox-2\\Tapebox2\\7 - Transferring
REELTUG_CINE_EDITING_DIR=\\TapeBox\\TapeBox\\6 - Cine Editing
REELTUG_TEMP_VIDEO_PROCESSING_DIR=D:\\processing
REELTUG_RENDER_LOG_DIR=D:\\processing\\render_logs
REELTUG_PICKLE_BACKUP_DIR=D:\\reeltug_backup
REELTUG_MUSIC_AUDIO_DIR=.\\cinemusic.mp3

REELTUG_C2D_OUT_DIR=C:\\ConvertXToDVD
REELTUG_C2D_EXE_DIR=C:\\Program Files (x86)\\VSO\\ConvertX\\7\\ConvertXtoDvd.exe
REELTUG_C2D_MENU_DIR=
